body {
    background-color:  rgb(255, 79, 109);
  background-image: url('corazones-dorados.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.title-1{
    font-family: cursive;
    font-weight: bolder;
    font-size: 70px;
}
.text{
    font-weight: bold;
    font-style: italic;
}
